@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 50% 98%;
    --foreground: 180 65% 4%;
    --card: 0 0% 100%;
    --card-foreground: 180 65% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 65% 4%;
    --primary: 158 100% 44%;
    --primary-foreground: 169 95% 10%;
    --secondary: 160 40% 96%;
    --secondary-foreground: 180 65% 4%;
    --muted: 160 40% 96%;
    --muted-foreground: 180 10% 46%;
    --accent: 158 100% 44%;
    --accent-foreground: 169 95% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 160 30% 91%;
    --input: 160 30% 91%;
    --ring: 158 100% 44%;
    --chart-1: 158, 100%, 44%;
    --chart-2: 169, 95%, 30%;
    --chart-3: 160, 40%, 50%;
    --chart-4: 150, 50%, 60%;
    --chart-5: 170, 30%, 70%;
    
    /* Sidebar Variables */
    --sidebar-background: 160 40% 96%;
    --sidebar-foreground: 180 65% 4%;
    --sidebar-primary: 158 100% 44%;
    --sidebar-primary-foreground: 169 95% 10%;
    --sidebar-accent: 158 100% 44%;
    --sidebar-accent-foreground: 169 95% 10%;
    --sidebar-border: 160 30% 91%;
    --sidebar-ring: 158 100% 44%;
  }

  .dark {
    --background: 180 65% 4%;
    --foreground: 160 20% 98%;
    --card: 169 95% 20%;
    --card-foreground: 160 20% 98%;
    --popover: 169 95% 20%;
    --popover-foreground: 160 20% 98%;
    --primary: 158 100% 44%;
    --primary-foreground: 169 95% 10%;
    --secondary: 169 95% 15%;
    --secondary-foreground: 160 20% 98%;
    --muted: 169 95% 15%;
    --muted-foreground: 160 10% 65%;
    --accent: 158 100% 44%;
    --accent-foreground: 169 95% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 169 95% 12%;
    --input: 169 95% 12%;
    --ring: 158 100% 44%;
    --chart-1: 158, 100%, 44%;
    --chart-2: 169, 95%, 30%;
    --chart-3: 160, 40%, 50%;
    --chart-4: 150, 50%, 60%;
    --chart-5: 170, 30%, 70%;

    /* Sidebar Variables */
    --sidebar-background: 169 95% 15%;
    --sidebar-foreground: 160 20% 98%;
    --sidebar-primary: 158 100% 44%;
    --sidebar-primary-foreground: 169 95% 10%;
    --sidebar-accent: 158 100% 44%;
    --sidebar-accent-foreground: 169 95% 10%;
    --sidebar-border: 169 95% 12%;
    --sidebar-ring: 158 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
